apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: costgraph
  namespace: {{ .Values.namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
    {{- if .Values.costgraph.config.costgraph_feature_flags.superset }}
    - host: costgraph.{{ .Values.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: superset
                port:
                  number: 80
    {{ end }}
    - host: costgraph-backend.{{ .Values.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: costgraph
                port:
                  number: {{ .Values.costgraph.backend.port }}
  tls:
    - hosts:
        {{ if .Values.costgraph.config.costgraph_feature_flags.superset -}}
        - costgraph.{{ .Values.domain }}
        {{- end }}
        - costgraph-backend.{{ .Values.domain }}
      secretName: costgraph-http
---
{{- if .Values.costgraph.config.costgraph_feature_flags.chat }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: costgraph-ws
  namespace: {{ .Values.namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/server-snippets: |
      location / {
        proxy_set_header Upgrade $http_upgrade;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header Connection "upgrade";
        proxy_cache_bypass $http_upgrade;
      }
spec:
  rules:
    - host: costgraph-chat-ws.{{ .Values.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: costgraph
                port:
                  number: {{ .Values.costgraph.chat.port }}
  tls:
    - hosts:
        - costgraph-chat-ws.{{ .Values.domain }}
      secretName: costgraph-wss
{{- end }}
