{{- define "chart.costgraph" }}
# Worker configurations for the controller
{{- with .Values.costgraph.worker_config }}
{{ toYaml . }}
{{- end }}

# Port to expose the backend
port: {{ .Values.costgraph.backend.port }}

# Superset configuration
{{- with .Values.superset.config }}
{{ toYaml . }}
{{- end }}

# Database configuration
{{- with .Values.postgres.config }}
{{ toYaml . }}
{{- end }}

# Costgraph configuration
{{- with .Values.costgraph.config }}
{{ toYaml . }}
{{- end }}
{{ end }}


---
# Configuration template for superset environment variables
{{- define "chart.supersetenv" }}

# Database configuration
{{- range $key, $val := .Values.postgres.config }}
- name: {{ $key | upper }}
  value: {{ $val | quote }}
{{- end -}}

{{- range $key, $val := .Values.superset.config }}
- name: {{ $key | upper }}
  value: {{ $val | quote }}
{{- end -}}
{{ end -}}


---
# Configuration template for costgraph chat environment variables
{{- define "chart.costgraphchatenv" }}
- name: "OPENAI_API_KEY"
  value: {{ .Values.costgraph.config.openai_api_key }}
- name: "COSTGRAPH_CHAT_WS_BACKEND"
  value: http://costgraph-chat-ws.{{ .Values.domain }}
{{- range $key, $val := .Values.postgres.config }}
- name: {{ $key | upper }}
  value: {{ $val | quote }}
{{- end -}}
{{ end -}}