{{ template "chart.header" . }}

# DEPRECATED

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
